body, html {
    height: 100%;
    margin: 0;
    background-color: black;
    color: #e3ae01;
}

a {
    color: aliceblue;
    text-decoration: none;
}

h1 {
    color: aliceblue;
}

p {
    color: aliceblue;
    position: relative;
}

.bg{
    background-image: url("images/SaveTheDate.jpg");
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    height: 100vh;
    margin: 0;
}

.navbar ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    width: 150px;
    background-color: #e3ae01;
    position: absolute;
    bottom: 0%;
    transform: translateY(-50%);
    text-align: center;
}

.navbar li a {
    display: block;
}

.navbar li a:hover {
    text-decoration: underline;
    color: #000000 ;
    background-color: #04AA6D;
}

.navbar .active {
    background-color: purple;
    color: white;
}

.RSVPform {
    color: #e3ae01;
    padding-left: 5%;
}

#credits {
    position: fixed;
    right: 2vw;
    bottom: 1vh;
    color: aliceblue;
}

#huntisover {
    width: 40vw;
    position: fixed;
    right: 55vw;
    top: 50vh;
}

#saveourdate {
    width: 30vw;
    position: fixed;
    left: 55vw;
    top: 8vh;
}

#logo {
    width: 14vw;
    position: fixed;
    left: 63vw;
    top: 20vh;
}

#names {
    width: 30vw;
    position: fixed;
    left: 55vw;
    bottom: 24vh;
}

header {
    width: 5%;
    top: 50vh;
    background-color: #e3ae01;

}

footer {
    position: fixed;
    border: 1px solid white;
    right: 0;
    bottom: 0;
    padding-right: 10px;
    padding-left: 10px;
}

@media (max-width: 480px) {
    .bg {
        background-size: 150vw;
        background-image: url("images/SaveTheDate_LQ.jpg");
    }

    #credits {
        font-size: x-small;
    }

    #huntisover {
        width: 100vw;
        position: fixed;
        right: 0;
        top: 5vh;
    }
    
    #saveourdate {
        width: 90vw;
        position: fixed;
        left: 5vw;
        top: 75vh;
    }
    
    #logo {
        width: 40vw;
        position: fixed;
        left: 55vw;
        top: 20vh;
    }
    
    #names {
        width: 40vw;
        position: fixed;
        left: 55vw;
        top: 45vh;
    }
}
