body, html {
    height: 100%;
    margin: 0;
    background-color: black;
}

.bg{
    background-image: url("images/SaveTheDate.jpg");
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    height: 100vh;
    margin: 0;
}

#huntisover_white {
    height: 70vh;
}

#logo_white {
    height: 25vh;
    background: rgba(0,0,0,0.3);
}