html{
    margin: 0;
    color: black;
    background: white url(images/logo-colored-pink_25opacity.png) no-repeat fixed center;
    background-size: contain;
}

a{
    color: #f98d8a;
    text-decoration: none;
}

body{
    margin-top: 0;
    margin: auto;
    text-align: center;
    max-width: 90vw;
}

h1{
    color: #f98d8a;
}

input#password{
    max-width:200px;    
}

main{
    position: relative;
    top: 50px;
    width: 90vw;
    z-index: 0;
}

table{
    margin: auto;
}

th{
    min-width: 10%;
}

ul{
    list-style-type: none;
    padding: 0;
}

.gatekeeper{
    position: absolute;
    width: 60vw;
    top: 30vh;
    left: 20vw;
}

#copyright{
    position: fixed;
    right: 0px;
    bottom: 0px;
    color: #f98d8a;
    background-color: white;
    padding: 1%;
    border-left: 1px solid #f98d8a;
    border-top: 1px solid #f98d8a;
}

#menu{
    z-index: 1;
    position: fixed;
    margin: auto;
    top: 0;
}

#menu a{
    padding: 10px;
    border: 1px solid #f98d8a;
    border-radius: 5px;
    background-color: white;
}

#menu a:hover{
    background-color: #f98d8a;
    color: white;
}

#menu li{
    display: inline;
}

#password{
    width: 100%;
}

#planning{
    margin: auto;
}

#RSVP_confirm{
    width: 80%;
    margin: auto;
    padding-top: 10%;
}

#submit{
    margin-bottom: 15%;
}

#home{
    max-width: 700px;
    width: 100%;
    margin: auto;
}

#STD{
    max-width: 100%;
    margin: 0;
    z-index: 0;
}

#THIO{
    width: 50vw;
    position: absolute;
    top: 5vh;
    right: 0;
    z-index: 1;
}

#logo{
    width: 30vw;
    z-index: 1;
    position: absolute;
    top: 10vh;
    right: 0;
}

#names{
    width: 35vw;
    z-index: 1;
    position: absolute;
    top: 22vh;
    right: 0;
}